<!-- FOOTER -->
<footer>
  <div class="footer-area bg-light">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <h2>Augustine</h2>
              </div>
              <p>Ra đời vào ngày 14/8/2020 và hiện tại là nơi cung cấp hơn 100 nhãn hiệu nước hoa cao cấp trên thế giới. Là website nước hoa đầu tiên tại Việt Nam. Chúng tôi là một trong những thị trường nhập khẩu, mang lại sự lựa chọn đa dạng, sự thuận tiện, tiết kiệm tiền & thời gian, đồng thời mang đến sự yên tâm & hài lòng đến với khách hàng. (Xem Thêm).</p>
              <div class="footer-icons">
                <ul>
                  <li class="icon-face">
                    <a href="#"><i class=" bi bi-facebook"></i></a>
                  </li>
                  <li class="icon-twitter">
                    <a href="#"><i class=" bi bi-twitter"></i></a>
                  </li>
                  <li class="icon-insta">
                    <a href="#"><i class=" bi bi-instagram"></i></a>
                  </li>
                  <li class="icon-youtube">
                    <a href="#"><i class="icon-youtube fa-brands fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Thông tin</h4>
              <p>
                Cửa hàng: Đường 419, Bình Phú, Thạch Thất, Hà Nội
              </p>
              <div class="footer-contacts">
                <p><span>Điện thoại:</span> +123 456 789</p>
                <p><span>Email:</span> augustinegmail.com</p>
                <p><span>Thời gian:</span> 9am-5pm</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Instagram</h4>
              <div class="flicker-img">
                <a href="#"><img src="./assets/imgs/contact/contact-1.jpg" alt=""></a>
                <a href="#"><img src="./assets/imgs/contact/contact-1.jpg" alt=""></a>
                <a href="#"><img src="./assets/imgs/contact/contact-2.jpg" alt=""></a>
                <a href="#"><img src="./assets/imgs/contact/contact-3.jpg" alt=""></a>
                <a href="#"><img src="./assets/imgs/contact/contact-1.jpg" alt=""></a>
                <a href="#"><img src="./assets/imgs/contact/contact-1.jpg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>
              &copy; Copyright <strong>Augustine</strong>. All Rights Reserved
            </p>
          </div>
          <div class="credits text-light">
            Designed by Ngô Đình Việt
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->

